# Entornos virtuales
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos temporales de Jupyter
.ipynb_checkpoints/

# Configuración local
.env

# Archivos de sistema
.DS_Store
Thumbs.db

# Otros
*.log
